.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
  list-style: none;
  background-color: #1a1a1a;
}

.social li {
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.social a > svg {
  font-size: 1.5rem;
}
.social a > svg:hover {
  filter: drop-shadow(0px 0px 20px #fff);
  transform: scale(1.2);
  transition: transform 0.4s;
}
