.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #7e7e7e;
}

.contact-btn.contact-btn {
  gap: 0.5rem;
  background-color: var(--cl-primary);
}

/* .contact .MuiInputBase-input {
  background-color: var(--bg-secondary);
  color: var(--cl-white);
} */
