.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.MuiInputBase-root.MuiInputBase-root,
.MuiInputBase-root.MuiInputBase-root.Mui-focused,
.MuiInputBase-root.MuiInputBase-root:hover,
.MuiInputBase-root.MuiInputBase-root:focus {
  background-color: #fff;
}

.contact-btn.contact-btn {
  gap: 0.5rem;
  background-color: var(--cl-primary);
}
