.skill-element {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 0;
  width: fit-content;
  background-color: #1a1a1a;
  border-radius: 0.5rem;
}
.skill-element > img {
  width: 40px;
  height: 40px;
}
