.cardTimeline {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background: #1f1f1f;
  box-shadow: 0px 0px 10px #8a8a8a8a;
  border-radius: 5px;
  transition: 0.4s ease;
  margin: 0 1rem 3rem;
}

.cardTimeline-date {
  color: #bbbbbb;
  font-weight: 500;
  font-size: 0.8rem;
}

.cardTimeline-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.cardTimeline-description {
  font-size: 0.8rem;
}

.cardTimeline-redirect {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
