.project-modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-modal-head > button {
  color: var(--cl-white);
  margin-right: -1rem;
}

.project-modal-date {
  color: var(--cl-gray);
  font-size: 0.8rem;
}

.project-modal-title {
  display: block;
  margin: 1rem 0;
  font-size: 1.8rem;
  text-align: center;
  color: var(--cl-primary);
}

.project-modal-content {
  font-size: 0.9rem;
}

.project-modal-tools {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem 0;
}

.project-modal-tool {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  background-color: #393939;
  border-radius: 0.4rem;
}

.project-modal-tool > img {
  width: 2rem;
}

.project-modal-redirect {
  display: flex;
  justify-content: flex-end;
}
