.presentation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
}

.presentation-figure {
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .presentation-figure {
    position: relative;
    background-image: url(./../../../../public/images/presentation.jpg);
    background-repeat: no-repeat;
    width: calc(35vw + 2rem);
    height: calc(35vw + 2rem);
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    background-size: cover;
  }

  .presentation-cv {
    position: absolute;
    left: -4rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
