@font-face {
  font-family: euclid;
  src: url(./../public/fonts/Euclid\ Circular\ A\ Medium.ttf);
}

@font-face {
  font-family: porsha;
  src: url(./../public/fonts/PorshaRichela.ttf);
}

:root {
  color-scheme: light dark;
  --cl-primary: #0f90c3;
  --cl-white: #f5f5f5;
  --bg-primary: #1a1a1a;
  --font-primary: porsha;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: rgb(44, 122, 237);
  background: linear-gradient(
    305deg,
    rgba(44, 122, 237, 1) 0%,
    rgba(26, 26, 26, 1) 25%,
    rgba(26, 26, 26, 1) 40%,
    rgba(44, 122, 237, 1) 60%,
    rgba(26, 26, 26, 1) 77%
  );
  color: var(--cl-white);
  font-family: euclid;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  font-size: 1.3rem;
}

p {
  margin-top: 0;
}

a {
  color: var(--cl-primary);
}

figure {
  margin: 0;
}

img {
  width: 100%;
}
