:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --cl-primary: #0f90c3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: rgb(44, 122, 237);
  background: linear-gradient(
    305deg,
    rgba(44, 122, 237, 1) 0%,
    rgba(26, 26, 26, 1) 25%,
    rgba(26, 26, 26, 1) 40%,
    rgba(44, 122, 237, 1) 60%,
    rgba(26, 26, 26, 1) 77%
  );
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  font-size: 1.3rem;
}

p {
  margin-top: 0;
}

a {
  color: var(--cl-primary);
}

img {
  width: 100%;
}
