.tag-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  padding: 0.2rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 50px;
  background: rgba(20, 197, 44, 0.514);
}
